/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600&display=swap');

/*
  CSS Reset
*/

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;

}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 
  End of CSS Reset
*/


:root{
  --color-background: hsl(300, 1%, 20%);
  --color-main-text: hsl(37, 63%, 83%); 


  --font-header: 'Vollkorn', serif;
  --font-body: 'Quicksand', sans-serif;

  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-heavy: 600;

  --color-yellow: hsl(44, 100%, 50%);
  --color-teal:  hsl(163, 26%, 48%);
  --color-blue: hsl(206, 47%, 59%);
  --color-red: hsl(11, 71%, 44%);
  --color-gray-100: hsl(210, 15%, 20%);
  --color-brown: hsl(330, 2%, 20%);

  --yellow-hover:   hsl(44, 100%, 64%);
  --teal-hover: hsl(163, 26%, 57%);
}



body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-main-text);
  background-image: url(//github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-teletype-graphic-cf60b66bbb2b00e1e4e9f8020b9fa59b6084d77ed4c7a3c4e0cdab5848aabca7.svg); 
  background-position: calc(50% - 1050px) center;
  background-repeat: no-repeat;
  width: 100%;
}

@font-face{
  font-family: 'Quicksand';
  src: url('Quicksand.woff2') format('woff2 supports variations'),
      url('Quicksand.woff2') format('woff2-variations');
      font-weight: 300 600;
      font-stretch: 25% 151%;
}

header{
  min-height: 15vh;
  width: 100%;
}

/*
* ----------------------------------
* Compare/Toggle Section
* ----------------------------------
*/
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  border: 1px solid #4e4b4d;
  border-radius: 8px;
  margin: 2rem 0;
}

.compare-container{
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 4rem;
  height: 80%;
}

.compare-container h2{
  padding-bottom: 0.5rem;
  font-family: var(--font-header);
  font-size: 2rem;
}

.compare-container img{
  display: block;
  width: 100%;
  height: 100%;
}

.compare-container.expanded ~ .button-wrapper{
  height: 16%;
}

.expanded{
  width: 100%;
  height: 49vh;
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem 1.5rem 1rem;
}

.button-wrapper{
  display: flex;
  gap: 1rem;
  z-index: 1;
  height: 20%;
  padding-bottom: 1.5rem;
}

.hidden{
  display:none;
  opacity: 0;
}


.card-one img{
  position: relative;
  opacity: 1;
  animation:fadeIn 0.3s ease-in;
}

.card-two img{
  position: relative;
  animation:fadeIn 0.3s ease-in;
}

@keyframes fadeIn{
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
 }   

.expand-Img-1{
  width: 100%;
  -webkit-animation: scaleDownLeft 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
  animation: scaleDownLeft 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
  opacity: 0;
}

.expand-Img-2{
  width: 100%;
  -webkit-animation: scaleDownRight 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
  animation: scaleDownRight 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
  opacity: 0;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--font-body);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

.btn.toggle{
  background-color: var(--color-yellow);
}

.btn.toggle:focus-visible::-moz-focus-inner:not([disabled]){
  border-color: var(--color-blue);
}

.toggle:hover:not([disabled]){
  background-color: var(--yellow-hover);
  transform: translateY(-2px);
}

.toggle:active:not([disabled]){
  transform: scale(0.9);
}

.expand{
  background-color: var(--color-teal);
}
.expand:hover{
  background-color: var(--teal-hover);
  transform: translateY(-2px);
}

button.expand:focus, button.toggle:focus{
  outline: none;
}

button.expand:focus-visible::-moz-focus-inner,
button.toggle:focus-visible::-moz-focus-inner,
button.expand:focus-visible,
button.toggle:focus-visible{
  outline: 2px dashed var(--color-blue);
}

.expand:active {
  transform: scale(0.9);
}


/*
 * ----------------------------------------
 * Animation scale-down-left
 * ----------------------------------------
 */
 
@keyframes scaleDownLeft {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            opacity: 1;
  }
}

/*
 * ----------------------------------------
 * Animation scale-down-right
 * ----------------------------------------
 */
 
@keyframes scaleDownRight {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            opacity: 1;
  }
}

/* 
* ----------------------------------
* Section with Scroll Animation 
* ----------------------------------
*/

section.scroll-animate::before{
  content: '';
  display: block;
  /* transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-20%);
  --paperSkew: -3deg;
  --skewDir: -1; */
  transform-origin: right top;
  transform: skewY(3deg);
  width: 100%;
  height: 30vh;
  background-color: var(--color-yellow);
  z-index: -20;
  position: absolute;
}

section.scroll-animate{
  background-color: var(--color-yellow);
  margin-top: 6rem;
  /* take out min if space is left over */
  width: 100%;
  position: relative;
  z-index: 10;
}

.scroll-animate h2{
  font-family: var(--font-header);
  font-size: clamp(2.4rem, 3.2vw + 1rem, 3rem);
  color: var(--color-brown);
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/*
* ----------------------------------
* Step Pagination Styles
* ----------------------------------
*/

.step-pagination{
  position: absolute;
  top: 5.5rem;
  right: 3rem;
  bottom: 0;
  width: 3%;
  padding-top: 27%;
}

.step-pagination ul{
  list-style-type: none;
  position:sticky;
  top: 50%;
  bottom: 50%;
  transform: translate(0,-50%);
}

.step-pagination li{
  background: var(--color-blue);
  margin-bottom: 1rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 400ms ease;
}

.pagination-list a{
  text-decoration: none;
  color: var(--color-yellow);
}

.pagination-list li:focus{
  border: 1px dashed var(--color-yellow);
}

/* Step Container */

.steps-container {
  color: var(--color-brown);
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  margin: 5rem auto;
}
/*
* ----------------------------------
* Step-Left Styles
* ----------------------------------
*/
.step-left-container{
  flex: 1;
  max-width: 50%;
  width: 100%;
}

.step-images{
  position: sticky;
  top: 10vh;
}

.step-images img{
  width: 100%;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
}

.step-left {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  transition: .5s;
  will-change: filter opacity;
  filter: blur(10px);
}

.active{
  opacity: 1;
  will-change: filter;
  filter: blur(0px);
}

.fade-out{
  opacity: 0;
  filter: blur(10px);
}

/*
* ----------------------------------
* Step-Right Styles
* ----------------------------------
*/

.step-right-container{
  flex: 1;
  max-width: 40%;
  width: 100%;
}

.step-right.block{
  height: 60vh;
  display: flex;
  align-items: center;
  padding-bottom: 2vh;
}

h3.step-heading {
  font-size: clamp(1.8rem, 3.7vw + 0.2rem, 2.5rem);
  margin-bottom: 32px;
  font-family: var(--font-header);
}

/* 
* ----------------------------------
* Section with Cost Reveal
* ----------------------------------
*/


.cost-reveal-container {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;
}

.cost-reveal-container .svg-snoweb{
  fill: var(--color-yellow);
}


/* 
* ----------------------------------
* Extra Animations
* ----------------------------------
*/

/*
@keyframes bounce{
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }
  }  */

/* 





* ----------------------------------
* Media Queries 
* ----------------------------------
*/

  @media (min-width: 320px) and (max-width: 700px) {
    
    .compare-container{
      width: 100%;
      padding: 0.5rem 1.5rem;
      height: 76%;
    }
    .compare-container.expanded ~ .button-wrapper{
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }
    
    .btn{
      font-size: 1.2rem;
      width: 8rem;
      height: 3rem;
    }
    .expanded{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .expanded h2{
      font-size: 1.2rem;
   }
   .card-one.expand-Img-1, .card-two.expand-Img-2{
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   .compare-container.expanded > .expand-Img-1 img, .compare-container.expanded > .expand-Img-2 img{
     width: 80%;
     height: 80%;
   }
   .button-wrapper{
     align-items: flex-end;
   }

   /*
    * ----------------------------------
    * Step Styles
    * ----------------------------------
    */

  .steps-container{
    justify-content: space-around;
  }
  .scroll-animate h2 {
    /* font-size: 2.2rem; */
    margin-top: 3rem;
  }
  h3.step-heading {
    margin-bottom: 0;
    height: 5rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
  }
  .step-text{
    font-size: 1rem;
  }

  }

  @media (max-width: 520px) {
    .step-text{
      font-size: 0.9rem;
    }
  }